div
{
	text-align: center;
}
ul>li
{
	position: relative;      /*   !*/
	display: inline-block;
	width: 150px;
}
/*!*/
ul>li p
{
	    margin: 0;
		padding: 0px 20px;
		color: white;

	/*display: block;*/
	/*text-decoration: none;*/
	/*transition: all 3s;*/
}
ul>li:hover
{
	cursor:pointer;
	 will-change: all;
		/*background-color: purple;*/
	transform:scale(1.3);

/*	color: yellow;*/
}
ul>li>ul
{
	position: absolute;
	display: none;
}
ul>li:hover> ul
{
	right: 40%;
	width: 70%;
display: block;	

/*opacity: 0.8;*/
}
ul>li>ul>li:hover 
{
	color: black;
	/*background-color: purple;*/	background:linear-gradient(to top right, grey,white);


}
ul>li>ul>li
{
	display: block;
	width: 150%;
	margin-bottom: 2%;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
	/*background-color:#aae;*/
	background:linear-gradient(to top right, black,grey);   /*(to top right, #FC354C,#0ABFBC);*/
	background: rgba(0, 0, 0, 0.8);
	transition:all 1s; 
}
div.Header
{
	position: fixed;
		z-index: 3;
		background-color: #4F4747;
		top:0;
		left: 0;		
		width: 100%;
		height: 12%;

}
/*div.Header>div
{
  position: absolute;
  top:70%;
  	color: #959F99;
	width: 90px;
	margin: 0px;
}*/
li>img
{
	width: 35%; 
}
li>p
{
	font-size: 15px;
}
/*.Header>img
{
position: absolute;
width: 250px;
left: 0;
}*/
body
{
	background-image: url(pcGaming1.png),linear-gradient(to top,grey, black);

	background-size: 55%, 100%;
	background-attachment: fixed,fixed,fixed;
	background-repeat: no-repeat,no-repeat,no-repeat;
/*	background-position: 50% 0,0 0,0 0;*/
	background-position: center,bottom;
/*background-attachment: fixed,fixed,fixed;
 background-size: 30%,40%,100%;
*/
}


section
{
	position: absolute;
	text-align: center;
	/*background:linear-gradient(to top right, black,grey);*/   /*(to top right, #FC354C,#0ABFBC);*/
	top:12%;
	left: 20%;
	width: 60%;
	/*	height: 80%;*/
	height: auto;
	/*background:rgba(0,0,0,0.5); */
	background:linear-gradient(to  right,rgba(255,255,255,0.7) ,rgba(0,0,0,0.7) );
	/*background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
}
article
{
	margin-top: 2%;
	margin-bottom: 4%;
	/*background: white;*/
	background:rgba(255,255,255,0.35);
	width: 99%;
	border:4px solid black;
	background-size: cover;   /*подгон под размер картинки*/
	height: 330px;
    overflow: hidden;
	color: white;
	text-shadow: 2px 2px 2px black, 0 0 0em black;
	font-size: 18px;
}
/*tr
{
	border:2px solid black;
}
tr>td
{
	border:2px solid black;
}*/
/*table
{
	border:2px solid black;
}*/
td>h1
{
	margin: 7px;
}

article>img
{
	float: left;
	position: relative;
	width: 25%;
	height: 100%;
	
}
/*.FC
{
	width: 40%;
}*/
article:hover
{
 box-shadow: 0 0 5px 5px red;
 cursor:pointer;
}

@media screen and (max-width: 1400px){
	article>img
{
	width: 30%;
}
	article
	{
		width:950px;

	}
	table
	{
		width: 70%;
	}
	section
{
	left: 15%;
	width: 960px;
}
}
@media screen and (max-height: 650px){
	div.Header
{

		height: 85px;
}
ul>li
{
	width: 120px;
}
}

fieldset
{
	z-index: 4;
	position: absolute;
	top: 0%;
	right: 0%;
	width: 15%;
	height: 105px;
	background: rgba(255,255,255,0.5);
}
fieldset>input
{
	position: relative;
	width: 100%;
	margin-top: 3%;
	height: 25%;
}
.BT
{
	top: 12%;
}
